<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee ID <%= dataUser.id %> Report</title>
  </head>
  <body><center>
    <table border='1'>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr>
        <td><%= dataUser.id %></td>
        <td><%= dataUser.name %></td>
      </tr>
    </table>
    <h2>Task History</h2>
    <table border='1'>
      <tr>
        <th>No</th>
        <th>Task Name</th>
        <th>Estimated Time</th>
        <th>Real Time</th>
        <th>Income</th>
      </tr>
      <% let count = 1 %>
      <% dataUserTask.forEach(function(task) { %>
        <tr>
          <td><%= count %></td>
          <td><%= task.Task.Task %></td>
          <td><%= task.Task.estimatedTimeOfWork %> minutes</td>
          <td><%= task.realTimeOfWork %> minutes</td>
          <td>Rp <%= task.employeeIncome %></td>
        </tr>
        <% count++ %>
      <% }) %>
    </table>
    <p>Total Task: </p>
    <p>Total Income: </p>
    <p>Average Estimated Time: </p>
    <p>Average Real Time: </p>
  </center></body>
</html>