<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile <%= dataUser.name %></title>
  </head>
  <body><center>
    <h1><%= dataUser.role %></h1>
    <table>
      <tr>
        <th>Name: </th>
        <td><%= dataUser.name %></td>
      </tr>
      <tr>
        <th>Email: </th>
        <td><%= dataUser.email %></td>
      </tr>
    </table>
    <br>
    <form class="" action="/users/<%= dataUser.id %>/profile/edit">
      <input type="submit" name="" value="Edit Profile">
    </form>
    <br>
    <form class="" action="/users/employeeList">
      <input type="submit" name="" value="Employee List">
    </form>
    <br>
    <form class="" action="/users/report/<%= dataUser.id %>/owner">
      <input type="submit" name="" value="Manager Report">
    </form>
    <br>
    <form class="" action="/users/assignTask">
      <input type="submit" name="" value="Assign Task">
    </form>
    <br>
    <form class="" action="/users/logout">
      <input type="submit" name="" value="Logout">
    </form>
  </center></body>
</html>