<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Task View</title>
  </head>
  <body><center>
    <h2>Today Task</h2>
    <fieldset style='width: 20%'>
      <h3><%= dataToday.Task.Task %></h3>
      <p><%= dataToday.Task.estimatedTimeOfWork %> minutes</p>
  </fieldset>
  <br>
    <form class="" action="/users/<%= dataToday.UserId %>/viewTask/<%= dataToday.TaskId %>" method="post">
      <% let status = ['idle','on-progress','done'] %>
      Status: <select class="" name="status">
        <% for(let i = 0; i < status.length; i++){ %>
          <% if(status[i] == dataToday.status){ %>
            <option value="<%= dataToday.status %>" selected><%= dataToday.status %></option>
          <% } else { %>
            <option value="<%= status[i] %>"><%= status[i] %></option>
            <% }%>
          <% } %>
      </select>
      <br><br>
      <input type="submit" name="" value="Apply">
    </form>
  </center></body>
</html>